* {
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(255, 254, 254) ;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
}

nav {
    position: absolute;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;

}

.logo {
    left: 10px;
    top: 10px;
    padding: 20px;
}

.logo img {
    width: 100px;
}

ion-icon {
    width: 50px;
    height: 50px;
    color: #fff;
}

.ion-bar {
    z-index: 1;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}


/*Info Mobile*/
.info {
    background-color:#fff;
    position: absolute;
    bottom: -40px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px;
    
}

.info p{
    display: none;
}


.info ion-icon {
    width: 25px;
    color: darkblue;
}

.info ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.info ul li {
    align-items: center;
    position: relative;
    width: 25%;
    padding: 15px;
    text-align: center;
}

.info ul li:hover{
    background-color: rgba(175, 213, 251, 0.3);
}
.info ul li:not(:last-child):hover{
    border-radius: 10px;
}
.info ul li:last-child:hover{
    border-radius: 10px 0 0 10px ;
}

.info ul li a {
    color: rgb(104, 104, 135);
    text-decoration: none;
}

.bar {
    height: 50%;
    width: 1px;
    background: darkblue;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    }
/*Info Mobile end*/

/*********SECTION Why Mobile************/

.pt-100 {
    padding-top: 100px;
}

section h1 {
    text-align: center;
}

.why {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    max-width: 600px;
   
}

.why div {
    padding: 0 30px;
}

.arrow {
    margin-top: 20px;
}

.arrowbase,
.arrowbaseCenter {
    width: 50%;
    position: absolute;
    background-color: rgb(190, 189, 189);
    height: 1px;
}

.arrowbaseCenter {
    width: 200%;
}


.opLeft .arrowbase {
    left: 150%;
}

.opCenter .arrowbaseCenter {
    left: -100px;
}

.opRight .arrowbase {
    left: 0;
}

.opCenter,
.opRight,
.opLeft {
    position: relative;
}


/*Info Why circle*/

.circlebase {
    height: 15px;
    width: 15px;
    border: 1px solid rgb(190, 189, 189);
    background-color: rgba(255, 255, 255, 0.992);
    position: absolute;
    border-radius: 50%;
    bottom: -9px;
    left: 40%;
    z-index: 1;
}
.circlebaseLeft{
    left: 50%;
}
/*********SECTION Why Mobile end************/

/*Session info*/
.grid-container {
    display: flex;
   /*  grid-template-columns: 50% 50%; */
    transform-style: preserve-3d;
    /* justify-content: center; */
    flex-direction: column; 
    height: 100vh;
    text-align: center;
    padding: 0 15px;
    justify-content: space-around;
}


/**Cards**/
 input[type=radio]{
    display: none;
 }
 
 .cards{
    margin-bottom: 20px;
    height: 50vh;
    position: relative;
 }

 .card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
 .card{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 50px;
    left: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
 }

 #item-1:checked ~ .cards #img-3,
 #item-2:checked ~ .cards #img-1,
 #item-3:checked ~ .cards #img-2{
    transform: translate(-20%,20%) scale(0.8);
    z-index: -1;
 }
 #item-1:checked ~ .cards #img-2,
 #item-2:checked ~ .cards #img-3,
 #item-3:checked ~ .cards #img-1{
    transform: translate(0) scale(.9);
    z-index: 0;
 }
 #item-1:checked ~ .cards #img-1,
 #item-2:checked ~ .cards #img-2,
 #item-3:checked ~ .cards #img-3{
    transform: translate(30%,20%) scale(1);
    z-index: 1;
 }

#item-1:checked ~ .cards #img-1 img,
#item-2:checked ~ .cards #img-2 img,
#item-3:checked ~ .cards #img-3 img{
   box-shadow: 0 0 10px 0 rgba(24, 24, 24, 0.0);
}


/**Cards end**/


.border{
    border: 1px solid gray;
}