* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;

}

header {
    position: relative;
    display: flex;
    justify-content: center;
}

nav {
    position: absolute;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;

}

.logo {
    left: 10px;
    top: 10px;
    padding: 20px;
}

.logo img {
    width: 100px;
}

ion-icon {
    width: 50px;
    height: 50px;
    color: #fff;
}

.ion-bar {
    z-index: 1;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.info {

    background-color: rgb(240, 239, 239);
    position: absolute;
    bottom: -70px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.info ion-icon {
    width: 25px;
    color: darkblue;
}

.info ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.info ul li {
    align-items: center;
    position: relative;
    width: 25%;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.info ul li a {
    color: darkblue;
    text-decoration: none;
}

.bar {
    height: 50%;
    width: 1px;
    background: darkblue;
    position: absolute;
    right: 0;
    top: 35px;
}


/*********SECTION Why************/

section {
    padding-top: 100px;
}

section h1 {
    text-align: center;
}

.why {

    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    position: relative;

    max-width: 600px;
}

.why div {
    padding: 0 30px;
}

.arrow {
    margin-top: 20px;
}

.arrowbase,
.arrowbaseCenter {
    width: 50%;
    position: absolute;
    background-color: rgb(190, 189, 189);
    height: 1px;
}

.arrowbaseCenter {
    width: 200%;
}


.opLeft .arrowbase {
    left: 50%;
}

.opCenter .arrowbaseCenter {
    left: -100px;
}

.opRight .arrowbase {
    left: 0;
}

.opCenter,
.opRight,
.opLeft {
    position: relative;
}


/*Info Why circle*/

.circlebase {
    height: 15px;
    width: 15px;
    border: 1px solid rgb(190, 189, 189);
    background-color: white;
    position: absolute;
    border-radius: 50%;
    bottom: -9px;
    left: 50%;
    z-index: 1;
}

/*Session info*/
.grid-container {
    display: flex;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 18em;
 
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: row;
   
    background-color: red;
}

.grid-container>div {
    width: 50%;
    padding: 0 10%;
    position: relative;
    max-width: 600px;
    max-height: 600px;  

 }



 input[type=radio]{
    display: none;
 }
 
 .cards{
    margin-bottom: 20px;
 }
 .card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
 .card{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
 }

 #item-1:checked ~ .cards #img-3,
 #item-2:checked ~ .cards #img-1,
 #item-3:checked ~ .cards #img-2{
    transform: translate(-20%,-20%) scale(0.8);

    z-index: -1;
 }
 #item-1:checked ~ .cards #img-2,
 #item-2:checked ~ .cards #img-3,
 #item-3:checked ~ .cards #img-1{
    transform: translate(0) scale(.9);
  
    z-index: 0;
 }
 #item-1:checked ~ .cards #img-1,
 #item-2:checked ~ .cards #img-2,
 #item-3:checked ~ .cards #img-3{
    transform: translate(20%,20%) scale(1);
   
  
    z-index: 1;
 }
 #item-1:checked ~ .cards #img-1 img,
#item-2:checked ~ .cards #img-2 img,
#item-3:checked ~ .cards #img-3 img{
   box-shadow: 0 0 10px 0 rgba(81, 81,81,0.47);
}

.b-red{
    border: red;
}

/* .imgsList {
    position: relative;

} 


.imgsList img {
    width: 100%;
    box-shadow: -10px 10px 30px;
}

 .imgsList>div {
    position: absolute;
    left: 0;
}

.img1 img {
    margin: 30px 0 0 2%;
    width: 300px;
    height: 200px;
}

.img2 img {
    margin: 0 50px 0 10%;
    width: 280px;
    height: 250px;
    
}

.img3 img {
    margin: 60px 0 0 20%;
    width: 300px;
    height: 200px;

}
 

.teste > img{
    position: absolute;
    height: 150px;
}
*/
